body{
    margin: 0px;
    padding: 0px;
}
.nav {
    height: 40px;
    width: 90%;
    background-color: #ffffff;
    padding: 0% 5%;
    margin: 0% !important;
    position: relative;
    box-shadow: 2px 3px 8px 0px rgb(180, 180, 180);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .nav>.nav-header {
    display: inline;
  }
  
  .nav>.nav-header>.nav-title {
    display: inline-block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    color: #000000;
    padding: 10px 10px 10px 10px;
  
  }
  
  .nav>.nav-btn {
    display: none;
  }
  
  .nav>.nav-links {
    display: inline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: right;
    font-size:19px;
  }
  
  .nav>.nav-links>a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding: 10px 10px;
  }
  
  .nav>.nav-links>a:hover {
    color: rgba(0, 0, 0, 0.533);
  }
  
  .nav>#nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav>.nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
  
    .nav>.nav-btn>label {
      display: inline-block;
      width: 40px;
      height: 15px;
      padding: 11px;
    }
  
    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
      background-color: rgba(0, 0, 0, 0.3);
    }
  
    .nav>.nav-btn>label>span {
      display: block;
      width: 25px;
      height: 8px;
      border-top: 2px solid #000000;
    }
  
    .nav>.nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      z-index: 19;
      top: 40px;
      left: 0px;
    }
  
    .nav>.nav-links>a {
      display: block;
      width: 100%;
    }
  
    .nav>#nav-check:not(:checked)~.nav-links {
      height: 0px;
    }
  
    .nav>#nav-check:checked~.nav-links {
      height: calc(60vh - 50px);
      overflow-y: auto;
    }
  }
  
  